        <!doctype html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Social Learning</title>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <style>
            .content-section {
                background: #3a3b3b;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                margin: auto !important;
                width: 100% !important;
                max-width: 840px !important;
            }
            .social-media-link {
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .social-media-icon {
                margin-right: 5px;
            }
            .nav-link.active {
                    color: #fff !important;
                    
            }
            /* Dostosowywanie odstępów między checkboxami */
            .form-check-inline {
                margin-right: 12px; /* Zmniejsz odstęp między checkboxami */
            }

            .form-check-label {
                margin-left: 2px; /* Zmniejsz odstęp między checkboxem a jego etykietą */
                font-size: 14px;
            }
        </style>

        </head>
        <body class="bg-dark text-white mr-0 ml-0">
            <center><h3><a href="/" class="text-white mt-2"><img src="/static/images/Logo.png" alt="Logo Social Learning" class="mb-3 mt-2 mr-2" style="max-width: 50px;">Social Learning</h3></a></center>
                
            <div class="container mt-2 mb-5">
            <div class="content-section mr-0 ml-0">
                    <!-- Treść aktualnej strony głównej -->
                    <div class="container mt-2 mb-5">
                <form method="post">
                    <div class="form-group">
                        <label for="temat">Find valuable content on social media! 💙</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="temat" placeholder="What are you looking for?" value="{% if temat is defined %}{{ temat }}{% else %}{% endif %}" name="temat" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Generate</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="audio" id="audio" name="content_type" {% if 'audio' in content_types %}checked="checked"{% endif %}>
                                <label class="form-check-label" for="audio">Audio</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="images" id="images" name="content_type" {% if 'images' in content_types %}checked="checked"{% endif %}>
                                <label class="form-check-label" for="images">Image</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="videos" id="videos" name="content_type" {% if 'videos' in content_types %}checked="checked"{% endif %}>
                                <label class="form-check-label" for="videos">Video</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="articles" id="articles" name="content_type" {% if 'articles' in content_types %}checked="checked"{% endif %}>
                                <label class="form-check-label" for="articles">Article</label>
                            </div>
                        </div>                        
                    </div>
                    
                </form>
        
                {% if search_links %}
                <div class="accordion mt-4" style="border-radius: 10px;" id="searchLinksAccordion">
                    {% for tag, links in search_links.items() %}
                        <div class="card bg-dark border-dark">
                            <div class="card-header" id="heading{{ loop.index }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left text-white {{ 'collapsed' if not loop.first }}" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="{{ 'true' if loop.first else 'false' }}" aria-controls="collapse{{ loop.index }}">
                                        {{ tag }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse{{ loop.index }}" class="collapse {{ 'show' if loop.first }}" aria-labelledby="heading{{ loop.index }}" data-parent="#searchLinksAccordion">
                                <div class="card-body bg-dark text-dark">
                                    <!-- Linki do mediów społecznościowych -->
                                    {% if links.instagram %}<a href="{{ links.instagram|replace('%23','') }}" class="social-media-link btn btn-outline-danger" target="_blank"><i class="social-media-icon fab fa-instagram"></i> Instagram</a>{% endif %}
                                    {% if links.youtube %}<a href="{{ links.youtube }}" class="social-media-link btn btn-outline-danger" target="_blank"><i class="social-media-icon fab fa-youtube"></i> YouTube</a>{% endif %}
                                    {% if links.soundcloud %}<a href="{{ links.soundcloud }}" class="social-media-link btn btn-outline-warning" target="_blank"><i class="social-media-icon fab fa-soundcloud"></i> SoundCloud</a>{% endif %}
                                    {% if links.spotify %}<a href="{{ links.spotify }}" class="social-media-link btn btn-outline-success" target="_blank"><i class="social-media-icon fab fa-spotify"></i> Spotify</a>{% endif %}
                                    {% if links.google_scholar %}<a href="{{ links.google_scholar }}" class="social-media-link btn btn-outline-primary" target="_blank"><i class="social-media-icon fas fa-graduation-cap"></i> Google Scholar</a>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            </div>
            </div>
            </div>
            <center class="mb-3">Funded by:<br><img src="/static/images/EEA.png" alt="Logo Social Learning" class="mb-5 mt-2 mr-2" style="max-width: 200px;"></center>

           
        
            <!-- Sekcje dla zakładek -->
        <!--            <div id="inspiration" class="tab-content d-none"> Zawartość dla inspiracji  </div>-->
            
        
            <!-- Skrypty -->
          
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>
        </html>
        